/* COLORS */
/* FONT SETTINGS */
/* COMPASS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* SUSY */
/* CUSTOM */
/* EM CALCULATOR */
/* BOILERPLATE HELPERS */
.island {
  margin-bottom: 24px; }
  .island > :last-child {
    margin-bottom: 0; }

.left {
  float: left; }

.right {
  float: right; }

.clear {
  overflow: hidden;
  *zoom: 1; }

em {
  font-weight: bold; }

.three {
  *zoom: 1;
  margin: auto;
  width: 520px;
  max-width: 100%; }
  .three:after {
    content: "";
    display: table;
    clear: both; }

.two {
  display: inline;
  float: left;
  width: 190.769%;
  margin-right: 3.077%; }

.one {
  display: inline;
  float: left;
  width: 93.846%;
  margin-right: 3.077%; }

.last {
  margin-right: 0; }

.honey {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }
  .honey .focusable:active, .honey .focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto; }

label, input[type="submit"] {
  cursor: pointer; }

button, input, select, textarea {
  vertical-align: baseline;
  *vertical-align: middle; }

#container {
  background-image: url(../img/grid/grid.gif);
  background-size: 16px 24px; }

body {
  width: 100%; }

body::after {
  color: black;
  content: "0 - 19em";
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
  height: 42px;
  background: lightgreen;
  clear: both;
  overflow: auto;
  line-height: 42px;
  font-size: 30px;
  font-family: sans-serif;
  font-weight: bold; }
  @media (min-width: 20em) {
    body::after {
      content: "20em - 24em";
      background: orange; } }
  @media (min-width: 25em) {
    body::after {
      content: "25em - 29em";
      background: orange; } }
  @media (min-width: 30em) {
    body::after {
      content: "30em - 34em";
      background: orange; } }
  @media (min-width: 35em) {
    body::after {
      content: "35em - 39em";
      background: orange; } }
  @media (min-width: 40em) {
    body::after {
      content: "40em - 44em";
      background: orange; } }
  @media (min-width: 45em) {
    body::after {
      content: "45em - 49em";
      background: orange; } }
  @media (min-width: 50em) {
    body::after {
      content: "50em - 54em";
      background: orange; } }
  @media (min-width: 55em) {
    body::after {
      content: "55em - 59em";
      background: orange; } }
  @media (min-width: 60em) {
    body::after {
      content: "60em - 64em";
      background: orange; } }
  @media (min-width: 65em) {
    body::after {
      content: "65em - 69em";
      background: orange; } }
  @media (min-width: 70em) {
    body::after {
      content: "70em - 74em";
      background: orange; } }
  @media (min-width: 75em) {
    body::after {
      content: "75em - 79em";
      background: orange; } }
  @media (min-width: 80em) {
    body::after {
      content: "80em +";
      background: red; } }

* {
  -moz-box-sizing: border-box;
  webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-size: 1em;
  line-height: 1.5em; }
  body #container {
    *zoom: 1;
    margin: auto;
    width: 520px;
    max-width: 100%;
    margin-bottom: 24px;
    font-family: sans-serif; }
    body #container:after {
      content: "";
      display: table;
      clear: both; }
    body #container > :last-child {
      margin-bottom: 0; }
