
/* COLORS */
$black: #000
$white: #fff

/* FONT SETTINGS */
$fs: 16px
$lh: 20px
$gap: $lh

@import 'includes' 
	
@mixin sans
	font-family: sans-serif

body
	
	#container
		@include container 
		@include island